{% extends './plantilla.html' %}
{% load static %}
{% block contenido %}
<br><br><br><br><br><br>
<h1 class="text-center">Listado de Aplicaciones</h1>
<br>
<table class="table table-bordered table-striped table-hover" id="tbl_cargos">
    <thead>
        <tr class="table-success text-center
            table-striped table-hover">
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRICIÓN</th>
            <th>VERSIÓN</th>
            <th>FECHA</th>
            <th>ACCIONES</th>

        </tr>
    </thead>
    <tbody>
        {% for cargoAplicacion in Aplicacion %}
            <tr>
                <td>{{cargoAplicacion.id}}</td>
                <td>{{cargoAplicacion.nombre}}</td>
                <td>{{cargoAplicacion.descripcion}}</td>
                <td>{{cargoAplicacion.version}}</td>
                <td>{{cargoAplicacion.fecha}}</td>


                <td>
                    <a href="editarCajero/{{cargoCajeros.id}}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
                    <a href="#" 
                    onclick="eliminarCajero('{{cargoCajeros.id}}')"
                    class="btn btn-outline-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a href="nuevoCajero" class="btn btn-primary">
        Agregar Cajero
    </a>
</div>
<br><br><br><br><br><br>
<script>
    function eliminarCajero(id){
        Swal.fire({
            title: "Desae eliminar?",
            text: "¿Estas seguro de eliminar al Cajero de forma permanenete?",
            icon: "Advertencia",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Borrar"
            }).then((result) => {
            if (result.isConfirmed) {

                window.location.href="/eliminarCajero/"+id
            
            }
        });
        
    }
    
</script>

<script>	
    $(document).ready(function () {
        $('#tbl_cargos').DataTable({
            language: "es",
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copiar'
                },
                {
                    extend: 'excel',
                    text: 'Exportar Excel'
                },
                {
                    extend: 'pdf',
                    text: 'Exportar PDF'
                },
                {
                    extend: 'print',
                    text: 'Imprimir'
                }
            ]
        });
    });
</script>
{% endblock %}