<!-- el extend es para heredar -->
{% extends './plantilla.html' %}
{% load static %}
{% block contenido %}
<br><br><br><br><br><br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded shadow-sm">
        <h1 class="mb-4">Nueva Aplicacion</h1>
        <form action="guardarCajero" id="frm_nuevo_cajero" enctype="multipart/form-data"  method="post">
            {% csrf_token %}

            <label for="nombre">Nombre:</label>
            <input class="form-control mb-3" type="text" name="nombre" id="nombre" required><br>

            <label for="descripcion">Descripción:</label>
            <input class="form-control mb-3" type="text" name="descripcion" id="descripcion" required><br>

            <label for="version">Versión:</label>
            <input class="form-control mb-3" type="text" name="turno" id="turno" required><br>
            <br><br>

            <label for="fecha">Fecha:</label>
            <input class="form-control mb-3" type="date" name="turno" id="turno" required><br>
            <br><br>

            <button
            class="btn btn-success"
            type="submit">Guardar</button>
            <a 
            class="btn btn-outline-danger"
            href="{% url 'inicio' %}">Cancelar</a>
            
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>
<!-- Embeder codigo javascript/jquery dentro del HTML -->

<script>
    $("#frm_nuevo_cajero").validate({
        rules:{
            "nombre":{
                required:true,
                minlength:3,//Cuenta los caracteres
                maxlength:10//caracteres maximos
            },
            "descripcion":{
                required:true,
                minlength:10,
                maxlength:10
            },
            "version":{
                required:true,

            },
        },
        messages:{

            "nombre":{
                required:"Por favor ingrese este campo es Obligatorio!!",
                minlength:"Este campo solo acepta nombres de 3 Letras",//Cuenta los caracteres
                maxlength:"El nombre debe ser maximo de 10 Letras" //caracteres maximos
            },

            "cedula":{
                required:"Por favor ingrese la cedula corectamente",
                minlength: "La cédula debe tener exactamente 10 dígitos.",
                maxlength: "La cédula debe tener exactamente 10 dígitos."
            },
            "turno":{
                required:"Por favor ingrese el turno que le toca (Dia, Tarde, Noche)"
            },
            "logo": {
                required: "Por favor, seleccione una imagen.",
            },
            "pdf": {
                required: "Por favor, seleccione un documento PDF.",
            }

        }
    });
</script>
<script>
    $("#logo").fileinput({
            language: "es",
            allowedFileExtensions: ["png|jpg|jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
</script>
<script>
    $("#pdf").fileinput({
            language: "es",
            allowedFileExtensions: ["png|jpg|jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
</script>

{% endblock %}

